# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Utsav Sethi
	email = utsavsethi@gmail.com
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff
	fixup = commit
	squash = commit
	unstage = reset
	rum = rebase master@{u}
[push]
	default = simple
[core]
	editor = /usr/local/bin/vim
